# Creates an SDDM user before SDDM runs.
# Defensive workaround for image builds where the SDDM greeter user is not created by package scripts/sysusers.

[Unit]
Description=Create SDDM greeter user on boot
Before=sddm.service

[Service]
Type=oneshot
ExecStart=/usr/etc/sddm/sddm-useradd
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
